includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'

plugins {
    id 'nf-gadi@1.2.0'
}

params {
    config_profile_name         = 'Run profile - SBP'
    config_profile_description  = 'Running configuration for SBP platform production usage'
    use_dgxa100 = false
}

singularity {
    cacheDir   = '/g/data/if89/singularity_cache/'
}

process {
   // clusterOptions will be overridden by backend
   storage     = params.storage_account?.trim() ? params.storage_account : "scratch/${params.project}+gdata/${params.project}+gdata/li87"
   beforeScript = 'module load singularity'

   withName: 'BINDCRAFT' {
      queue         = { params.use_dgxa100 ? 'dgxa100' : 'gpuvolta' }
      cpus          = { params.use_dgxa100 ? 16 : 12 }
      gpus          = 1
      memory        = '24.GB'
      time          = '24.h'
      errorStrategy = 'terminate'
   }
}

tower {
    enabled  = true
    endpoint = 'https://seqera.services.biocommons.org.au/api'
}
