includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'

plugins {
    id 'nf-gadi@1.2.0'
}

params {
    config_profile_name         = 'Run profile - SBP'
    config_profile_description  = 'Running configuration for SBP platform production usage'
    use_dgxa100 = false
    project = null
}

singularity {
    cacheDir   = '/g/data/if89/singularity_cache/'
}

process {
   // NOTE: placeholder values below — JOB_ID, USER_NAME, TIMESTAMP, FULL_NAME, INSTITUTE, IP_ADDRESS
   // are populated at runtime by the BioCommons service layer
   clusterOptions = '-v JOB_ID=test-job,USER_NAME=user_name@biocommon.org.au,TIMESTAMP=20260525_062803,FULL_NAME=your_name,INSTITUTE=biocommon.org.au,IP_ADDRESS=12.0.0.1'
   storage     = params.storage_account?.trim() ? params.storage_account : "scratch/${params.project}+gdata/${params.project}+gdata/li87"
   beforeScript = 'module load singularity'

   withName: 'BINDCRAFT' {
      queue         = { params.use_dgxa100 ? 'dgxa100' : 'gpuvolta' }
      cpus          = { params.use_dgxa100 ? 16 : 12 }
      gpus          = 1
      memory        = '24.GB'
      time          = '24.h'
      errorStrategy = 'terminate'
   }
}

workDir = '/scratch/yz52/sbp_service/workdir'

tower {
    enabled  = true
    endpoint = 'https://seqera.services.biocommons.org.au/api'
}
