params {
   input = null
   error_strategy = 'terminate'
   settings_filters = null
   settings_advanced = null
   batches = 1
   quote_char = '"'
   bindcraft_container = 'australianbiocommons/freebindcraft:1.0.3'
   multiqc_config = null
   multiqc_title = null
   multiqc_logo = null
   max_multiqc_email_size = '25.MB'
   multiqc_methods_description = null
   outdir = 'results'
   publish_dir_mode = 'copy'
   email = null
   email_on_fail = null
   plaintext_email = false
   monochrome_logs = false
   help = false
   help_full = false
   show_hidden = false
   version = false
   pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
   config_profile_name = 'Run profile - GADI'
   config_profile_description = 'Running configuration for production usage'
   custom_config_version = 'master'
   custom_config_base = 'https://raw.githubusercontent.com/nf-core/configs/master'
   config_profile_contact = 'Georgie Samaha (@georgiesamaha), Kisaru Liyanage (@kisarur), Matthew Downton (@mattdton)'
   config_profile_url = 'https://opus.nci.org.au/display/Help/Gadi+User+Guide'
   validate_params = true
   nci_gadi_project = 'yz52'
   nci_gadi_storage = 'gdata/yz52+scratch/yz52'
   project = null
   use_dgxa100 = false
}

process {
   cpus = { 1      * task.attempt }
   memory = { 6.GB   * task.attempt }
   time = { 4.h    * task.attempt }
   errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'
   withLabel:process_single {
      cpus = { 1                   }
      memory = { 6.GB * task.attempt }
      time = { 4.h  * task.attempt }
   }
   withLabel:process_low {
      cpus = { 2     * task.attempt }
      memory = { 12.GB * task.attempt }
      time = { 4.h   * task.attempt }
   }
   withLabel:process_medium {
      cpus = { 6     * task.attempt }
      memory = { 36.GB * task.attempt }
      time = { 8.h   * task.attempt }
   }
   withLabel:process_high {
      cpus = { 12    * task.attempt }
      memory = { 72.GB * task.attempt }
      time = { 16.h  * task.attempt }
   }
   withLabel:process_long {
      time = { 20.h  * task.attempt }
   }
   withLabel:process_high_memory {
      memory = { 200.GB * task.attempt }
   }
   withLabel:error_ignore {
      errorStrategy = 'ignore'
   }
   withLabel:error_retry {
      errorStrategy = 'retry'
      maxRetries = 2
   }
   executor = 'pbspro'
   project = null
   storage = 'scratch/yz52+gdata/yz52+gdata/if89+gdata/li87'
   module = 'singularity'
   cache = 'lenient'
   stageInMode = 'symlink'
   queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }
   beforeScript = 'module load singularity;'
   withName:BINDCRAFT {
      queue = { params.use_dgxa100 ? "dgxa100" : "gpuvolta" }
      cpus = { params.use_dgxa100 ? 16 : 12 }
      gpus = 1
      container = 'australianbiocommons/freebindcraft:1.0.3'
      memory = '24.GB'
      time = '24.h'
      errorStrategy = 'terminate'
      afterScript = {
            def output_path = new File("${params.outdir}")
            def final_path = output_path.isAbsolute() ? output_path : new File("${workflow.launchDir}", output_path.path)
            """
            if [ \$nxf_main_ret -ne 0 ]; then
                output_dir=\$(find . -type d -name '*_output' | head -n 1)
                if [ -n "\$output_dir" ] && [ \$(find "\$output_dir/Accepted/" -name '*.pdb' | wc -l) -gt 0 ]; then
                    mkdir -p "${final_path.path}/failed_bindcraft/"; cp -R "\$output_dir" "${final_path.path}/failed_bindcraft/"
                fi
            fi
            """
        }
   }
   shell = ['bash', '-C', '-e', '-u', '-o', 'pipefail']
   publishDir = [path:{ "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   withName:MULTIQC {
      ext {
         args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
      }
      publishDir = [path:{ "${params.outdir}/multiqc" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   }
   withName:JSONMANAGER {
      memory = '2 GB'
      time = '1h'
   }
   withName:RANKER {
      memory = '2 GB'
      time = '1h'
   }
   clusterOptions = '-v JOB_ID=test-job,USER_NAME=user_name@biocommon.org.au,TIMESTAMP=20260525_062803,FULL_NAME=your_name,INSTITUTE=biocommon.org.au,IP_ADDRESS=12.0.0.1'
}

apptainer {
   registry = 'quay.io'
   enabled = false
}

docker {
   registry = 'quay.io'
   enabled = false
}

podman {
   registry = 'quay.io'
   enabled = false
}

charliecloud {
   registry = 'quay.io'
   enabled = false
}

env {
   PYTHONNOUSERSITE = 1
   R_PROFILE_USER = '/.Rprofile'
   R_ENVIRON_USER = '/.Renviron'
   JULIA_DEPOT_PATH = '/usr/local/share/julia'
   OPENMM_PLATFORM_ORDER = 'CPU'
   OPENMM_DEFAULT_PLATFORM = 'CPU'
}

nextflow {
   enable {
      configProcessNamesValidation = false
   }
}

timeline {
   enabled = true
   file = 'timeline-2YtaUdDBEPxFuQ.html'
}

report {
   enabled = true
   file = 'results/pipeline_info/execution_report_2026-05-25_13-07-29.html'
}

trace {
   enabled = true
   file = './gadi-nf-core-trace-2026-05-25_13-07-29.txt'
   overwrite = false
   fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}

dag {
   enabled = true
   file = 'results/pipeline_info/pipeline_dag_2026-05-25_13-07-29.html'
}

manifest {
   name = 'ziadbkh/bindflow'
   author = 'Ziad Al-Bkhetan'
   homePage = 'https://github.com/ziadbkh/bindflow'
   description = 'bindcraft and others'
   mainScript = 'main.nf'
   nextflowVersion = '!>=24.04.2'
   version = '1.0.0dev'
   doi = ''
}

plugins = ['nf-schema@2.1.1']

validation {
   defaultIgnoreParams = ['genomes']
   help {
      enabled = true
      command = 'nextflow run ziadbkh/bindflow -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>'
      fullParameter = 'help_full'
      showHiddenParameter = 'show_hidden'
   }
   ignoreParams = ['nci_gadi_project', 'nci_gadi_storage']
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/g/data/if89/singularity_cache/'
   runOptions = '--nv'
}

conda {
   enabled = false
}

shifter {
   enabled = false
}

executor {
   queueSize = 300
   pollInterval = '5 min'
   queueStatInterval = '5 min'
   submitRateLimit = '20 min'
}

workDir = '/scratch/yz52/sbp_service/workdir'
runName = 'run-2026-05-25T03-03-28-pkz533'

tower {
   enabled = true
   endpoint = 'https://seqera.services.biocommons.org.au/api'
}
