// SBP Gadi configuration for nf-core/proteinfold

// NCI Gadi nf-core configuration profile
plugins {
    id 'nf-gadi@1.2.0'
}

// SBP required parameters; these are populated at runtime by the BioCommons service layer
params {
    db      = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/'
}

process {
    executor     = 'pbspro'
    // clusterOptions would be filled from backend
    storage      = 'gdata/ll61+gdata/if89+gdata/li87'
    module       = 'singularity'
    cache        = 'lenient'
    stageInMode  = 'symlink'
    beforeScript = 'module load singularity'
    scratch       = true
    disk          = 20.GB

    // NOTE: base.config uses (175..177); this config only retries on 175
    errorStrategy = { task.exitStatus in ((130..145) + [104, 175]) ? 'retry' : 'finish' }

    queue = {
        task.memory < 128.GB   ? 'normalbw' :
        task.memory <= 190.GB  ? 'normal'   :
        task.memory <= 1020.GB ? 'hugemembw' : ''
    }

   withName: 'RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2|COLABFOLD_BATCH' {
      queue       = { params.use_gpu ? 'gpuhopper' : 'normal' }
      cpus        = { params.use_gpu ? 12 : 48 }
      accelerator = { params.use_gpu ? 1 : null }
      time        = { params.use_gpu ? 6.h : 24.h }
      memory      = { params.use_gpu ? 256.GB : 192.GB }
      disk        = { params.use_gpu ? null : 100.GB }
   }

   withName: 'RUN_BOLTZ' {
      queue       = 'gpuhopper'
      cpus        = 12
      accelerator = 1
      time        = 6.h
      memory      = 256.GB
      // Extra jobfs for the boltz mols directory symlinked as input
      disk        = 100.GB
   }

   withName: 'RUN_ALPHAFOLD2_MSA' {
      queue   = 'normalbw'
      cpus    = 18
      time    = 10.h
      memory  = 72.GB
      disk    = 100.GB
   }

   withName: 'MMSEQS_COLABFOLDSEARCH' {
      queue   = 'normalbw'
      memory  = 256.GB
      cpus    = 28
      time    = 8.h
      scratch = false
   }

   withName: 'MMCIF2PDB|FASTA2JSON|FASTA2YAML|MULTIQC|GENERATE_REPORT|MULTIFASTA_TO_CSV' {
      queue  = 'normalbw'
      memory = 4.GB
      cpus   = 1
      time   = 20.m
   }
}

singularity {
    runOptions = ''
    cacheDir   = '/g/data/if89/singularity_cache/'
}

executor {
    queueSize         = 300
    pollInterval      = 5.m
    queueStatInterval = 5.m
    submitRateLimit   = '20 min'
}

workDir = '/scratch/yz52/sbp_service/workdir'

tower {
    enabled = true
    endpoint = 'https://seqera.services.biocommons.org.au/api'
}
