includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'

plugins {
    id 'nf-gadi@1.2.0'
}

params {
    rfd_models = '/g/data/if89/proteinfold_dbs/rfdiffusion'
    boltz_models = '/g/data/li87/struct_bio/params/boltz'
    af2_models = '/g/data/li87/struct_bio/params/alphafold2'
    use_gpu = true
    use_dgxa100 = false
    gpu_queue = 'gpuhopper'
    design_mode = 'binder_denovo'
}

singularity {
    cacheDir   = '/g/data/if89/singularity_cache/'
    autoMounts = true
    enabled    = true
}

process {
    storage = "gdata/li87+gdata/if89+scratch/yz52+gdata/yz52"

    withLabel: 'gpu' {
        clusterOptions = ''
        gpus           = 1
        cpus           = 12
        memory         = '24GB'
        queue          = params.gpu_queue ?: 'gpuhopper'
        maxForks       = 2
    }

    withLabel: 'RFDiffusion' {
        containerOptions = """--nv \
        --bind ${params.rfd_models}:/app/RFdiffusion/models \
        --bind ./schedules:/app/RFdiffusion/schedules \
        --bind ./.dgl:\$HOME/.dgl \
        --bind ${projectDir}/scripts:/scripts \
        --bind ${projectDir} \
        """
    }

    withLabel: 'AF2' {
        containerOptions = """--nv \
        --bind ${params.af2_models}:/dl_binder_design/af2_initial_guess/model_weights/params \
        --bind ${projectDir}/scripts:/scripts \
        --bind ${projectDir} """
    }

    withLabel: 'Boltz' {
        containerOptions = """--nv \
        --bind ${params.boltz_models}:/boltzcache \
        --bind ${projectDir}/scripts:/scripts \
        --bind ${projectDir} \
        """
    }
}

gadi {
    format = 'csv'
    output = 'gadi_report.csv'
}

executor {
    queueSize = 2
}

tower {
    enabled  = true
    endpoint = 'https://seqera.services.biocommons.org.au/api'
}
