plugins {
    id 'nf-gadi@1.4.0'
}

params {
    rfd_models = '/g/data/if89/proteinfold_dbs/rfdiffusion'
    boltz_models = '/g/data/li87/struct_bio/params/boltz'
    af2_models = '/g/data/li87/struct_bio/params/alphafold2'
    // TODO: change to gdata/li87 when it is available
    mpnn_models = '/scratch/yz52/tl7039/mpnn'
    use_gpu = true
    gpus = 8
}

singularity {
    cacheDir   = '/g/data/if89/singularity_cache/'
    autoMounts = true
    enabled    = true
}

process {
    // TODO: remove scratch/yz52 when mpnn models and container are moved into gdata
    storage = "gdata/li87+gdata/if89+gdata/yz52+scratch/yz52"

    errorStrategy = {
        def transientSignal = task.exitStatus in ((130..145) + [104, 175])
        def errLog = task.workDir.resolve('.command.err')
        def transientIO = errLog.exists() && (errLog.text.contains('BrokenPipeError'))
        (transientSignal || transientIO) ? 'retry' : 'finish'
    }
    maxRetries = 1
    maxErrors  = '-1'

    cache = 'lenient'
    stageInMode = 'symlink'
    queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }

    time           = 30.m

    withLabel: 'gpu' {
        gpus           = 1
        cpus           = 12
        memory         = 96.GB
        time           = 5.h
        queue          = 'gpuvolta'
        disk           = 10.GB
        maxForks       = 8
    }

    withLabel: 'RFDiffusion' {
        containerOptions = """--nv \
        --bind ${params.rfd_models}:/app/RFdiffusion/models \
        --bind ./schedules:/app/RFdiffusion/schedules \
        --bind ./.dgl:\$HOME/.dgl \
        --bind ${projectDir}/scripts:/scripts \
        --bind ${projectDir} \
        """

        time           = 1.h
        memory         = 256.GB
        queue          = 'gpuhopper'
        maxForks       = 2
    }

    withLabel: AF2 {
        containerOptions = """ --nv \
            --bind ${params.af2_models}:/dl_binder_design/af2_initial_guess/model_weights/params \
            --bind ${projectDir}/scripts:/scripts \
            --bind ${projectDir} """ +
            (params.af2_jax_compilation_cache_dir != null
                ? " --bind ${launchDir.resolve(params.af2_jax_compilation_cache_dir.toString()).normalize().toAbsolutePath()}:/af2_jax_compilation_cache"
                : "")
        }
        withLabel: 'BC' {
            containerOptions  = """--nv \
            --bind ${params.af2_models}:/af2params \
            """
    }

    withLabel: MPNN {
        time           = 3.h
        
        // TODO: temporary use 
        container = "/scratch/yz52/tl7039/dl_binder_design.sif"

        containerOptions = """--nv \
            --bind ${params.mpnn_models}:/ProteinMPNN/ \
            --bind ${projectDir}/scripts:/scripts \
            --bind ${projectDir} \
            """  
    }
}

gadi {
    format = 'csv'
    output = "report_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.csv"
    publishTo =  { "${params.outdir}/UsageReport.csv" }
}

executor {
    queueSize = 10
}

tower {
    enabled  = true
    endpoint = 'https://seqera.services.biocommons.org.au/api'
}
