params {
   analysis_batch_size = 200
   colabfold_batch_size = 100
   db = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/ '
   boltz2_aff = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/params/boltz2_aff.ckpt'
   boltz2_conf = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/params/boltz2_conf.ckpt'
   boltz2_mols = '/g/data/li87/struct_bio/params/boltz/mols'
   colabfold_uniref30 = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/colabfold_uniref30/'
   colabfold_alphafold2_params = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/params/alphafold_params_2022-12-06/'
   colabfold_envdb = '/g/data/if89/proteinfold_dbs/proteinfold_minidbs/colabfold_envdb/'
   alphafold3_params = '/g/data/li87/struct_bio/params/alphafold2'
   colabfold_uniref30_prefix = 'colabfold_uniref30/uniref30_2302_db'
   colabfold_envdb_prefix = 'colabfold_envdb/colabfold_envdb_202108_db'
}

process {
   cpus = { 1      * task.attempt }
   memory = { 6.GB   * task.attempt }
   time = { 4.h    * task.attempt }

   errorStrategy = {
      def transientSignal = task.exitStatus in ((130..145) + [104, 175])
      def errLog = task.workDir.resolve('.command.err')
      def transientIO = errLog.exists() && (errLog.text.contains('BrokenPipeError'))
      (transientSignal || transientIO) ? 'retry' : 'finish'
   }
   maxRetries = 1
   maxErrors = '-1'

   publishDir = [path:{ "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   withName:MULTIQC {
      publishDir = [path:{ "${params.outdir}/multiqc" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   }
   withName:MMSEQS_COLABFOLDSEARCH {
      memory = '585 GB'
      queue = 'hugemembw'
      time = { 10.h * task.attempt }
      publishDir = [enabled:false]
      cpus = 16
   }
   withName:RUN_BOLTZ {
      cpus = 12
      time = { 5.h * task.attempt }
      memory = '256 GB'
      scratch = true
      queue = 'gpuhopper'
      gpus = 1
      maxForks = 2
   }
   withName:COLABFOLD_BATCH {
      queue = 'gpuhopper'
      cpus = 12
      time = { 16.h * task.attempt }
      memory = '128 GB'
      gpus = 1
      maxForks = 2
   }
   withName:IPSAE {
      queue = 'copyq'
   }
   executor = 'pbspro'
   project = 'yz52'
   storage = 'gdata/if89+gdata/li87+gdata/yz52'
   // clusterOptions injected at launch time by the SBP backend
   module = 'singularity'
   cache = 'lenient'
   stageInMode = 'symlink'
   queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/g/data/if89/singularity_cache/'
}

cleanup = true

plugins = ['nf-schema@2.1.1', 'nf-gadi@1.4.0']

gadi {
    format = 'csv'
    output = "report_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.csv"
    publishTo =  { "${params.outdir}/UsageReport.csv" }
}

validation {
   ignoreParams = ['nci_gadi_project', 'nci_gadi_storage', 'username', 'timestamp', 'full_name', 'institute', 'ip_address', 'job_id']
}

executor {
   queueSize = 300
}
