params {
   use_gpu = true
   analysis_batch_size = 20
   colabfold_batch_size = 10
   colabfold_num_recycles = 3
   db = '/g/data/li87/proteinfold_dbs/'
   ipsae_pae_cutoff = 10
   ipsae_dist_cutoff = 10
   boltz2_aff = '/g/data/li87/struct_bio/params/boltz/boltz2_aff.ckpt'
   boltz2_conf = '/g/data/li87/struct_bio/params/boltz/boltz2_conf.ckpt'
   boltz2_mols = '/g/data/li87/struct_bio/params/boltz/mols'
   colabfold_uniref30 = '/g/data/li87/proteinfold_dbs//colabfold_uniref30/'
   colabfold_alphafold2_params = '/g/data/li87/proteinfold_dbs/params/alphafold_params_2022-12-06/'
   colabfold_envdb = '/g/data/li87/proteinfold_dbs//colabfold_envdb/'
   alphafold3_params = '/g/data/li87/struct_bio/params/alphafold2'
   colabfold_uniref30_prefix = 'colabfold_uniref30/uniref30_2302_db'
   colabfold_envdb_prefix = 'colabfold_envdb/colabfold_envdb_202108_db'
   boltz_ccd = '/g/data/li87/struct_bio/params/boltz/ccd.pkl'
   boltz_model = '/g/data/li87/struct_bio/params/boltz/boltz1_conf.ckpt'
   uniref30 = '/g/data/li87/proteinfold_dbs/colabfold_uniref30/'
   colabfold_db = '/g/data/li87/proteinfold_dbs/colabfold_envdb/'
}

process {
   cpus = { 1      * task.attempt }
   memory = { 6.GB   * task.attempt }
   time = { 4.h    * task.attempt }
   errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'
   withLabel:process_single {
      cpus = { 1                   }
      memory = { 6.GB * task.attempt }
      time = { 4.h  * task.attempt }
   }
   withLabel:process_low {
      cpus = { 2     * task.attempt }
      memory = { 12.GB * task.attempt }
      time = { 4.h   * task.attempt }
   }
   withLabel:process_medium {
      cpus = { 6     * task.attempt }
      memory = { 36.GB * task.attempt }
      time = { 8.h   * task.attempt }
   }
   withLabel:process_high {
      cpus = { 12    * task.attempt }
      memory = { 72.GB * task.attempt }
      time = { 16.h  * task.attempt }
   }
   withLabel:process_long {
      time = { 20.h  * task.attempt }
   }
   withLabel:process_high_memory {
      memory = { 200.GB * task.attempt }
   }
   withLabel:error_ignore {
      errorStrategy = 'ignore'
   }
   withLabel:error_retry {
      errorStrategy = 'retry'
      maxRetries = 2
   }
   shell = ['bash', '-C', '-e', '-u', '-o', 'pipefail']
   publishDir = [path:{ "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   withName:MULTIQC {
      ext {
         args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
      }
      publishDir = [path:{ "${params.outdir}/multiqc" }, mode:'copy', saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }]
   }
   withName:MMSEQS_COLABFOLDSEARCH {
      memory = '350 GB'
      time = '2d'
      ext {
         args = '--boltz-yaml --db1 colabfold_uniref30/uniref30_2302_db --db3 colabfold_envdb/colabfold_envdb_202108_db '
      }
      publishDir = [enabled:false]
      cpus = 16
   }
   withName:RUN_BOLTZ {
      cpus = 12
      time = '2d'
      memory = '128 GB'
      ext {
         args = '--write_full_pae --output_format mmcif'
      }
      queue = 'gpuvolta'
      gpus = 1
   }
   withName:COLABFOLD_BATCH {
      ext {
         args = '--calc-extra-ptm'
      }
      queue = 'gpuvolta'
      cpus = 12
      time = '16h'
      memory = '128 GB'
      gpus = 1
   }
   withName:IPSAE {
      ext {
         args = '10 10'
      }
   }
   executor = 'pbspro'
   project = 'yz52'
   storage = 'gdata/if89+gdata/if89+gdata/li87+scratch/yz52+gdata/yz52'
   clusterOptions = "-P yz52  -v JOB_ID=${params.job_id},USER_NAME=${params.username},TIMESTAMP=${params.timestamp},FULL_NAME=${params.full_name},INSTITUTE=${params.institute},IP_ADDRESS=${params.ip_address}"
   module = 'singularity'
   cache = 'lenient'
   stageInMode = 'symlink'
   queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }
}

singularity {
   registry = 'quay.io'
   runOptions = ''
   enabled = true
   autoMounts = true
   cacheDir = '/g/data/if89/singularity_cache/'
}

nextflow {
   enable {
      configProcessNamesValidation = false
   }
}

manifest {
   name = 'Australian-Structural-Biology-Computing/wisps'
   author = 'Ziad Al-Bkhetan and Thomas Litfin'
   homePage = 'https://github.com/Australian-Structural-Biology-Computing/wisps'
   description = 'Workflow for Interaction Screening by predicting Structure'
   mainScript = 'main.nf'
   nextflowVersion = '!>=24.04.2'
   version = '1.0.0'
   doi = ''
}

plugins = ['nf-schema@2.1.1']

validation {
   defaultIgnoreParams = ['genomes']
   ignoreParams = ['nci_gadi_project', 'nci_gadi_storage', 'username', 'timestamp', 'full_name', 'institute', 'ip_address', 'job_id']
}

executor {
   queueSize = 300
}

